---
import { Image } from "astro:assets";
import tickIcon from "@icons/tick.svg";
import serviceImage from "@images/wedding-bartending-service.jpg";
import CtaButtonsDark from "../Cta-buttons-dark.astro";
const serviceTitle = "Wedding Bartending Services";
---

<section>
    <div class="container">
        <h1>{serviceTitle}</h1>
        <p>
            Celebrate your big day stress-free, knowing our friendly bartenders will charm your guests with specially crafted cocktails and flawless service, perfectly tailored to your unique celebration.
        </p>
        <Image src={serviceImage} alt={serviceTitle} class="service-image" />

        <ul>
            <li>
                <Image src={tickIcon} alt="tickmark" />
                Elegant cocktail menus
            </li>

            <li>
                <Image src={tickIcon} alt="tickmark" />
                Friendly, personable staff
            </li>

            <li>
                <Image src={tickIcon} alt="tickmark" />
                Comprehensive setup and cleanup
            </li>
        </ul>

        <CtaButtonsDark />
    </div>
</section>

<style>
    section {
        background-color: var(--dark);
        color: #ffff;
    }
    .service-image {
        width: 100%;
        height: auto;
        border-radius: 3px;
        box-shadow: var(--box-shadow);
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
    h1 {
        font-size: 1.65rem;
    }
    li {
        display: flex;
        align-items: center;
        gap: 1em;
    }
</style>
